/* Base */
@import "./base/variables.css";
@import "./base/tailwind.css";

/* Theme */
@import "./theme/fonts.css";
@import "./theme/colors.css";

/* Components */
@layer components {
  @import "./components/buttons.css";
  @import "./components/cards.css";
}

/* Utilities */
@import "./utilities/helpers.css";
